@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
}


.footer{
  border-top: solid 0.1rem var(--color-primary);
}

.bg-secondary-background{
  background-color: var(--background-secondary);
}

.border-button{
    border: solid 0.1rem;
    border-radius: 0.6rem;
}

/* Navbar Styles */
.navBarList li {
    font-size: 1rem;
    font-weight: 600;
}

.navBarList__mobile{
    position: absolute;
    top: 70px;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease-out;
    z-index: 2;
    justify-content: center;
}
.navBarList__mobile li{
    color: #000000;
    font-size: 3rem;
    font-weight: 700;
    padding: 2rem;
}

.navBarList__mobile__close{
    height: 0;
}


/* Hero Section */

.hero__container{
    height: 100vh;
}

.hero__content{
    justify-content: space-between;
}

.hero__content__description p{
    background: linear-gradient(to right,#FE8C00,#F83600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero__content__description button{
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right,#C21500,#FFC500);
}


.skeleton__loading__image{
    object-fit: cover;
    margin-right: 1rem;
    flex-shrink: 0;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  .skeleton-text {
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
  }
  
  .skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }

.d_none{
    display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: 0.5s;
}

.alternate__hero{
  height: 100vh;
  width: 100%;
  background-image: url(/img/AnimationBackground.gif);
  background-color: var(--background-primary);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.alternate_hero__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.alternate_hero__content span{
  padding-bottom: 0.5rem !important;
}

.alternate__hero button{
  border-radius: 0.6rem;
  padding: 0.5rem 1rem;
  background: linear-gradient(to right,#C21500,#FFC500);
  color: #ffffff;
}

.alternate__grid__list .left{
  margin-left: -10rem;
  margin-right: 2rem;
}

.alternate__grid__list .right{
  margin-left: -2rem;
}

.social__media__circle{
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color:var(--color-secondary);
  border: 0.125rem dashed var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
    align-content: center;
}
.social__media__circle a{
  display: flex;
}

.social__media__circle:hover{
  border: none;
}
.social__media__circle:hover{
  border-top: 0.125rem dashed var(--color-secondary);
  border-right: 0.125rem dashed var(--color-secondary);
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.footer__icons li{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media only screen and (max-width: 600px) {
  h2{
    font-size: 1.25rem;
  }
  h4{
    font-size: 1rem;
  }
  .alternate__grid__list .left{
    margin-left: -4rem;
    margin-right: 1rem;
  }
  .alternate__grid__list .right{
    margin:auto
  }
  .alternate__hero{
    height: 80vh;
  }
  .nft-card{
    width: 60%;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
  }
  
}

@media only screen and (max-width: 1000px) {
  h2{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1rem;
  }
  .nft-card{
    width: 60%;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
  scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.left-arrow, .right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow, .right-arrow {
      display: none;
  }
}